
	.board {
height: 80px;
width: 50px;
display: inline-block;

}

	.card {
	background-color: yellow;
	height: 200px;
	width: 150px;
	border: 1px solid black;
	border-radius: 10px;
	float: left;
	margin: 10;
}
h1 {
	color: teal;
	text-align: center;
}
h2 {
	color: gold;
	text-align: center;
}
p{
	text-align: center;
}
	.name { 
	color:#ff0000;
}
	.board {
height: 80px;
width: 50px;
display: inline-block;
}

nav{
	background-color: #808080;
}
a{
	background-color: yellow;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 35px;
}
footer{
	background-color: grey;
	text-align: center;
}
